.page {
  width: 100%;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  background-color: #000000;
  color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: absolute;
}
